/**
 * Overried Style
 * For PASA UCMerced
 */
.logobanner{
	display: block;
	width: 100%;
	height: 190px;
	background: #092F44;
	text-align: center;
	overflow: hidden;
	.l-b-a{
		.l-b-i{
			margin: 16px auto;
		}
	}
}
.container{
	
}