/**
 * Silly plug-in has not optimized for different size of picture...
 * OVERRIED GALLERY PLUG_IN STYLE BY HARRY
 */

.myCarousel{
	/** display noned on 8.30 **/
	display: none;
}
.carousel-inner{
	display: none;
	width: 100%;
	height: 304px;
	img{
		width:100%;
	}
}